/*
//	Example use:
// 
//	<div class="material-form">
//		<input type="text" class="material-input" name="" required>
//		<label class="material-label">Name</label>
//	</div>
*/

.material-form {
	position: relative;
	padding-top: 16px;
	padding-bottom: 16px;
}

.material-input {
	position: relative;
	z-index: 1;
	font-size: 16px;
	height: 32px;
	color: white;
	border: none;
	border-bottom: 1px solid #999;
	width: 100%;
	background-color: transparent;
	transition: all 300ms ease-out;
	padding: 0 4px;
}

.material-input:focus {
	border-width: 2px;
	outline: none;
}

.material-form.nlc .material-input:focus {
	border-color: #f5a503;
}

.material-form.npc .material-input:focus {
	border-color: #a73e5c;
}

.material-label {
	position: absolute;
	color: #999;
	top: 20px;
	left: 4px;
	font-size: 1em;
	transition: all 200ms ease-out;
}

.material-input:focus ~ .material-label,
.has-value ~ .material-label {
	top: 0px;
	font-size: .8em
}

.material-form.nlc .material-input:focus ~ .material-label,
.material-form.nlc .has-value ~ .material-label {
	color: #efc94c;
}

.material-form.npc .material-input:focus ~ .material-label,
.material-form.npc .has-value ~ .material-label {
	color: #dd514a;
}

.material-input > option {
	background-color: #232323;
	color: white;
}

.material-input > option:hover {
	background-color: #efc94c;
}

.material-button {
    background-image: url(bg_btn.png);
    padding: 8px 24px;
    color: white;
    border: 0;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    background-position: 818px 54px;
    transition: 500ms;
}

.material-button:hover {
	background-position: 380px 54px;
}

.material-button:focus {
	outline: none;
}

textarea.material-input{
	height: unset;
}

.material-hint {
	color: #999;
	font-size: .8rem;
	padding: 3px;
}